<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/index.css}" rel="stylesheet" />
    </head>
    <body>
        <h1 class="text-center">Control de clientes</h1>

        <div class="contenedor">



            <a th:href="@{/agregar}" class="regresar">Añadir nueva persona</a>
            <div th:if="${personas != null and !personas.empty}">
                <table border="1" class="customers">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Telefono</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>


                    <tr th:each="persona : ${personas}">
                        <td th:text="${persona.nombre}">Mostrar Nombre</td>
                        <td th:text="${persona.apellido}">Mostrar Apellido</td>
                        <td th:text="${persona.email}">Mostrar Email</td>
                        <td th:text="${persona.telefono}">Mostrar Telefono</td>
                        <td> <a class="editar" th:href="@{/editar/} + ${persona.idPersona}" th:text="Editar" /> </td>
                        <td> <a class="eliminar" th:href="@{/eliminar(idPersona=${persona.idPersona})}" th:text="Eliminar" /> </td>
                    </tr>
                </table>
            </div>

            <form method="POST" th:action="@{/logout}" class="cerrar">
                <a href="#" onclick="this.parentNode.submit();">Cerrar Sesión</a>
            </form>
            
            <div th:if="${personas == null or personas.empty}">
                La lista de personas está vacia
            </div>
            
        </div> 
    </body>
</html>
