<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos de la Persona</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/css/modificar.css}" rel="stylesheet" />
    </head>
    <body>
        <h2 class="text-center">Datos de la Persona</h2>


        <div class="contenedor">
            
            <a class="regresar" th:href="@{/}">Regresar</a>
            
            <form class="form" th:action="@{/guardar}" method="post" th:object="${persona}">
                <input type="hidden" name="idPersona" th:field="*{idPersona}"/>
                <br/>

                <!--<label for="nombre">Nombre:</label>-->
                <input type="text" name="nombre" th:field="*{nombre}" placeholder="Ingresa tu nombre"/>
                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error Nombre</span>



                <!--<label for="apellido">Apellido:</label>-->
                <input type="text" name="apellido" th:field="*{apellido}" placeholder="Ingresa tu apellido"/>
                <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error Apellido</span>



                <!--<label for="email">Email:</label>-->
                <input type="email" name="email" th:field="*{email}" placeholder="jhonDoe@mail.com"/>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error Email</span>



                <!--<label for="telefono">Teléfono:</label>-->
                <input type="tel" name="telefono" th:field="*{telefono}" placeholder="Ingresa tu telefono"/>
                <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">Error Telefono</span>

                <input class="guardar" type="submit" name="guardar" value="Guardar"/>
            </form>
        </div>
    </body>
</html>
